@import "../node_modules/modern-normalize/modern-normalize.css";
@import "./font";
@import "./main_mixin.scss";
@import "./variables.scss";
@import "./nav";

// Page
@import "./page_scss/home/home.scss";









// 
// 
a{
    text-decoration: none;
}
.container{
    max-width: 1200px;
    width: 100%;
    padding: 0 10px;
}
.dp_center{
    display: flex;
        justify-content: center;
        margin-bottom: 100px;
        
}
