@import "../node_modules/modern-normalize/modern-normalize.css";
@import "./font";
@import "./main_mixin.scss";
@import "./variables.scss";
@import "./nav";
@import "./footer";
// Page
@import "./page_scss/home/home.scss";
@import "./page_scss/discover/discover_main";








// 
// 

a{
    text-decoration: none;
}
ul{
    padding: 0;
}
li{
    list-style: none;
}
.dp_center {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;

}
.container{
    max-width: 1200px;
    width: 100%;
    padding: 0 10px;
}

.footer {
background-color: $secondary;
margin-bottom: 0;

}
.footer_container{
    display: flex;
    justify-content: space-between;
}