<nav >
    <div class="container_nav">
    <div class="logo"><a href="#">travelaja</a></div>
    <input type="checkbox" id="click">
    <label for="click" class="menu-btn">
        <i class="fas fa-bars"></i>
    </label>
    <ul>
        <li><a class="active" href="../index.html">Home</a></li>
        <li><a class="active_1" href="../discover_main.html">Discover</a></li>
        <li><a href="../service.html" class="active_2">Services</a></li>
        <li><a href="../news.html" class="active_3">News</a></li>
        <li><a href="../about_us.html  " class="active_4">About Us</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
    
    <select name="select">
        <option>EN</option>
        <option>UA</option>
        <option>KZ</option>
    </select>
    </div>
</nav>
<!-- fsfa sfasf sdas -->