<section class="dp_center">
    <div class="container main_news">
        <h3>Travelaja Articles</h3>
        <p class=header_news_p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam</p>
        <div class="menu_news"><span class="active_menu">Adventure Travel</span><span>Beach</span><span>Explore World</span><span>Family Holidays</span><span>Art and culture</span></div>
        <div class="news_icons">
            <div class="container_icons">
            <div class="news_icon_img news_icon_img_1"></div>
            <p>where can i go? 5 amazing countries that are open right now</p>
            <span>September 19, 2022</span>
            </div>
            <div class="container_icons">
                <div class="news_icon_img news_icon_img_2"></div>
                <p>beautiful view of indonesia's natural hills</p>
                <span>September 19, 2022</span>
            </div>
            <div class="container_icons">
                <div class="news_icon_img news_icon_img_3"></div>
                <p>10 Indonesian Destinations you should visit in this year</p>
                <span>September 19, 2022</span>
            </div>
            <div class="container_icons">
                <div class="news_icon_img news_icon_img_4"></div>
                <p>5 mountains that you must visit while in Indonesia</p>
                <span>September 19, 2022</span>
            </div>
            <div class="container_icons">
                <div class="news_icon_img news_icon_img_5"></div>
                <p>the most interesting historical monuments in Indonesia</p>
                <span>September 19, 2022</span>
            </div>
            <div class="container_icons">
                <div class="news_icon_img news_icon_img_6"></div>
                <p>travel booking before missing the discount</p>
                <span>September 19, 2022</span>
            </div>
            <div class="container_icons">
                <div class="news_icon_img news_icon_img_7"></div>
                <p>travel booking before missing the discount</p>
                <span>September 19, 2022</span>
            </div>
            <div class="container_icons">
                <div class="news_icon_img news_icon_img_8"></div>
                <p>10 Indonesian Destinations you should visit in this year</p>
                <span>September 19, 2022</span>
            </div>
            <div class="container_icons">
                <div class="news_icon_img news_icon_img_9"></div>
                <p>where can i go? 5 amazing countries that are open right now</p>
                <span>September 19, 2022</span>
            </div>
            
        </div>
    </div>
</section>