
// .travel_point {
//     display: flex;
//     justify-content: center;
// }


.travers_point{
    margin-bottom: 100px;
}
.left_travel {}
// !
// !
// !
// !
// !
// !
// !
// ! right vlock
.right_travel {   
    text-align: center;
    .tp_header{
    @extend %tp_header_span;
        
    }   
    .tp_h2{
    @extend %tp_h2_text;
    }
    .tp_p{
    @extend %tp_p_text;
    }
}

.statistic_tp {
display: flex;
flex-direction: column;
justify-content: space-between;
}

.statistic_tp_top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}

.number_tp {
    display: flex;
    flex-direction: column;
    gap:5px;
    &:first-child {
            margin-bottom: 20px;
    }
  
}

.number_item {
    @include font_line_secondary (27px, 700, 120%);
}

.text_item {
    @include font_line_title (16px, 400, 100%);
}

.statistic_tp_bot {
    @extend .statistic_tp_top
    
}
// ! right vlock
// !
// !
// !
// !
// !
// !
// !