<section class="dp_center facelities_bg">
    <div class="container ">

        <div class="facilities_service">
            <div class="left_block_facilities">
                <span>Facilities</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero sequi natus amet debitis sed
                    harum
                    magni
                    rerum accusantium sapiente. Commodi tempora maxime explicabo quam! Repellat nesciunt recusandae
                    corporis
                    cupiditate dignissimos.</p>
                <button type="button">Read More</button>
            </div>
            <div class="right_block_facilities">
                <div class="img_block">
                    <img src="../../src/img/Service_page/facilities/buggy.svg" alt="buggy">
                    <span>Baby</span>
                    <p>FREE BUGGY</p>
                </div>
                <div class="img_block">
                    <img src="../../src/img/Service_page/facilities/coctail.svg" alt="coctail">
                    <span>Drinks</span>
                    <p>INCLUDED</p>
                </div>
                <div class="img_block">
                    <img src="../../src/img/Service_page/facilities/camp.svg" alt="camp">
                    <span>Camp</span>
                    <p>INCLUDED</p>
                </div>
                <div class="img_block">
                    <img src="../../src/img/Service_page/facilities/map.svg" alt="map">
                    <span>World</span>
                    <p>CUSTOM TOURS</p>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>