<section class="dp_center">
    <div class="container more_service">
        <div class="detail_service">
            <img src="../../src/img/Service_page/main/price.svg" alt="price">
            <span>Get Best Price</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed arcu eu, dui tortor, proin eu lectus
                pellentesque. A cras suscipit amet </p>
            <button type="button">READ MORE</button>
        </div>
        <div class="detail_service">
            <img src="../../src/img/Service_page/main/map.svg" alt="price">
            <span>All Destination</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed arcu eu, dui tortor, proin eu lectus
                pellentesque. A cras suscipit amet </p>
            <button type="button">READ MORE</button>
        </div>
        <div class="detail_service">
            <img src="../../src/img/Service_page/main/locations.svg" alt="price">
            <span>City Tours</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed arcu eu, dui tortor, proin eu lectus
                pellentesque. A cras suscipit amet </p>
            <button type="button">READ MORE</button>
        </div>
        <div class="detail_service">
            <img src="../../src/img/Service_page/main/photo.svg" alt="price">
            <span>Photography</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed arcu eu, dui tortor, proin eu lectus
                pellentesque. A cras suscipit amet </p>
            <button type="button">READ MORE</button>
        </div>
    </div>
</section>