<section class="dp_center">
    <div class="container benefits">
        <div class="benefits_upper_text">
            <span class="benefits_header">BENEFITS</span>
            <h2 class="benefits_h2">OUR SERVICE</h2>
        </div>
        <div class="benefits_container_card">
            <div class="benefits_sport">
                <div class="benefits_img">
                    <img src="../../src/img/Service_page/our_servic/1.svg" alt="hiking">
                </div>
                <div class="right_block_benefits">
                    <span>Hiking</span>
                    <p>Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et. Quisque euismod
                        orci ut et lobortis.</p>
                    <button type="button">Read More</button>
                </div>
            </div>
            <div class="benefits_sport">
                <div class="benefits_img">
                    <img src="../../src/img/Service_page/our_servic/2.svg" alt="skating">
                </div>
                <div class="right_block_benefits">
                    <span>Staking</span>
                    <p>Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et. Quisque euismod
                        orci ut et lobortis.</p>
                    <button type="button">Read More</button>
                </div>
            </div>
            <div class="benefits_sport">
                <div class="benefits_img">
                    <img src="../../src/img/Service_page/our_servic/1.svg" alt="climbing">
                </div>
                <div class="right_block_benefits">
                    <span>Climbing</span>
                    <p>Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et. Quisque euismod
                        orci ut et lobortis.</p>
                    <button type="button">Read More</button>
                </div>
            </div>
            <div class="benefits_sport">
                <div class="benefits_img">
                    <img src="../../src/img/Service_page/our_servic/4.svg" alt="tours">
                </div>
                <div class="right_block_benefits">
                    <span>Tours</span>
                    <p>Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et. Quisque euismod
                        orci ut et lobortis.</p>
                    <button type="button">Read More</button>
                </div>
            </div>
            <div class="benefits_sport">
                <div class="benefits_img">
                    <img src="../../src/img/Service_page/our_servic/5.svg" alt="diving">
                </div>
                <div class="right_block_benefits">
                    <span>Diving</span>
                    <p>Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et. Quisque euismod
                        orci ut et lobortis.</p>
                    <button type="button">Read More</button>
                </div>
            </div>
            <div class="benefits_sport">
                <div class="benefits_img">
                    <img src="../../src/img/Service_page/our_servic/6.svg" alt="fly">
                </div>
                <div class="right_block_benefits">
                    <span>Flying</span>
                    <p>Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et. Quisque euismod
                        orci ut et lobortis.</p>
                    <button type="button">Read More</button>
                </div>
            </div>
        </div>
    </div>
</section>