<section class="dp_center">
    <div class="container place_service">
        <div class="card_item_side_bar bg_img_1">
            <div><span>Water City Dreams</span>
                <span class="date_service">September 18, 2022</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis
                </p>
            </div> <button>Read More</button>
        </div>
        <div class="card_item_side_bar bg_img_2">
            <div><span>Water City Dreams</span>
                <span class="date_service">September 18, 2022</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis
                </p>
            </div><button>Read More</button>
        </div>
        <div class="card_item_side_bar bg_img_3">
            <div>
                <span>Water City Dreams</span>
                <span class="date_service">September 18, 2022</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis
                </p>
            </div><button>Read More</button>
        </div>
    </div>

</section>