<section class="dp_center">
    <div class="container choose">
        <h3>Why Choose Us ?</h3>
        <p>These popular destinations have a lot to offer</p>
        <div class="choose_icon">
            <div class="choose_icon_items">
                <div class="choose_icon_img"><img src="../../src/img/aboutus_page/choose_us/date.svg" alt=""></div>
                <h4>Best price guarantee</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </div>
            <div class="choose_icon_items">
                <div class="choose_icon_img"><img src="../../src/img/aboutus_page/choose_us/shield.svg" alt=""></div>
                <h4>Easy Booking</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </div>
            <div class="choose_icon_items">
                <div class="choose_icon_img"><img src="../../src/img/aboutus_page/choose_us/support.svg" alt=""></div>
                <h4>Customer Service 24h</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </div>
        </div>
    </div>
</section>