<section class="dp_center">
    <div class="container footer_about_us">
        <div class="icons_footer_au"><img src="../../src/img/aboutus_page/icon_footer/ship.svg" alt=""></div>
        <div class="icons_footer_au"><img src="../../src/img/aboutus_page/icon_footer/sity.svg" alt=""></div>
        <div class="icons_footer_au"><img src="../../src/img/aboutus_page/icon_footer/island.svg" alt=""></div>
        <div class="icons_footer_au"><img src="../../src/img/aboutus_page/icon_footer/map.svg" alt=""></div>
    </div>
</section>