<section class="dp_center">
    <div class="container">
        <div class="teams_block">
            <h3>Our Teams</h3>
            <p>Lorem ipsum dolor sit amet</p>
            <div class="teams_items">
                <div class="our_teams_icons">
                    <img src="../../src/img/aboutus_page/1.jpg" alt="">
                    <p>Agung perdana</p>
                    <span>Web Designer </span>
                    
                </div>
                <div class="our_teams_icons">
                    <img src="../../src/img/aboutus_page/2.jpg" alt="">
                    <p>Viola Resti</p>
                    <span>Marketing Director </span>
                
                </div>
                <div class="our_teams_icons">
                    <img src="../../src/img/aboutus_page/3.jpg" alt="">
                    <p>Rahardianysah</p>
                    <span>International Relations </span>
                
                </div>
                <div class="our_teams_icons">
                    <img src="../../src/img/aboutus_page/4.jpg" alt="">
                    <p>Andika</p>
                    <span>Medical Check </span>
                
                </div>
                <div class="our_teams_icons last_man">
                    <img src="../../src/img/aboutus_page/5.jpg" alt="">
                    <p>Theresa Russell</p>
                    <span>Doctor Assistant </span>
                
                </div>
            </div>
        </div>
    </div>
</section>