<section class="dp_center">
    <div class="container destination">
        <div class="destination_upper_text">
            <span class="tp_header">Top destination</span>
            <h2 class="tp_h2">Discover your love</h2>
        </div>
        <div class="container_card">
            <div class="card">
                <div class="card_image card_image_1"></div>
                <div class="card_link"><a href="#">Taman Nasional Komodo</a></div>
                <div class="card_bottom"><span class="notarrow">Rp. 7,5jt</span><div class="arrow"><img src="../../src/img/Home_page/arrow.svg" alt=""><span class="arrwo_span"> 7 days for trips</span></div></div>
            </div>
            <div class="card"><div class="card_image card_image_2"></div>
                <div class="card_link"><a href="#">Taman Nasional Bunaken</a></div>
                <div class="card_bottom"><span class="notarrow">Rp. 7,5jt</span>
                    <div class="arrow"><img src="../../src/img/Home_page/arrow.svg" alt=""><span class="arrwo_span"> 7 days for
                            trips</span></div>
                </div>
                </div>
            <div class="card"><div class="card_image card_image_3"></div>
                <div class="card_link"><a href="#">Raja Ampat, Papua Barat</a></div>
                <div class="card_bottom"><span class="notarrow">Rp. 7,5jt</span>
                    <div class="arrow"><img src="../../src/img/Home_page/arrow.svg" alt=""><span class="arrwo_span"> 7 days for
                            trips</span></div>
                </div>
                </div>
            <div class="card"><div class="card_image card_image_4"></div>
                <div class="card_link"><a href="#">Kepulauan Wakatobi</a></div>
                <div class="card_bottom"><span class="notarrow">Rp. 7,5jt</span>
                    <div class="arrow"><img src="../../src/img/Home_page/arrow.svg" alt=""><span class="arrwo_span"> 7 days for
                            trips</span></div>
                </div>
                </div>
            <div class="card"><div class="card_image card_image_5"></div>
                <div class="card_link"><a href="#">Gili Trawangan, Lombok</a></div>
                <div class="card_bottom"><span class="notarrow">Rp. 7,5jt</span>
                    <div class="arrow"><img src="../../src/img/Home_page/arrow.svg" alt=""><span class="arrwo_span"> 7 days for
                            trips</span></div>
                </div>
                </div>
            <div class="card"><div class="card_image card_image_6"></div>
                <div class="card_link"><a href="#">Taman Nasional Bromo</a></div>
                <div class="card_bottom"><span class="notarrow">Rp. 7,5jt</span>
                    <div class="arrow"><img src="../../src/img/Home_page/arrow.svg" alt=""><span class="arrwo_span"> 7 days for
                            trips</span></div>
                </div>
                </div>
        </div>
    </div>
</section>