<header class="header_home">
  <div class="container">
    <div class="header_block_title">
      <div class="header_bt_text">
        <h1>Explore the world with a smile</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,
          purus sit amet luctus venenatis, lectus magna fringilla urna,
          porttitor rhoncus dolor purus non enim praesent elementum facilisis
          leo,
        </p>
      </div>
      <div class="header_bt_form">
        <form class="header_form">
          <input
            type="text"
            class="form_home form_city"
            placeholder="City or Destination"
          />
          <input
            type="text"
            class="form_home form_date"
            placeholder="Date of stay"
          />
          <div class="person_btn">
            <input
              type="text"
              class="form_home form_person"
              placeholder="Person"
            />
            <button class="form_btn">Find Trip Now</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</header>
