<section class="dp_center">
  <div class="container testimonial">
    <div class="testimonial_upper_text">
      <span class="tp_header">Testimonial</span>
      <h2 class="tp_h2">What they say about us</h2>
    </div>
    <div class="testimonial_container_card">
      <div class="comments">
        <div class="upper">
          <div class="user_img user_img_1"></div>
          <div class="card_name">Angelina Simple</div>
        </div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,
          purus sit amet luctus venenatis
        </p>
      </div>
    <div class="comments">
        <div class="upper">
            <div class="user_img user_img_2"></div>
            <div class="card_name">Anggi Nani</div>
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,
            purus sit amet luctus venenatis
        </p>
    </div>
    <div class="comments">
        <div class="upper">
            <div class="user_img user_img_3"></div>
            <div class="card_name">Graham Suryo J</div>
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,
            purus sit amet luctus venenatis
        </p>
    </div>
    <div class="comments">
        <div class="upper">
            <div class="user_img user_img_4"></div>
            <div class="card_name">Bagas G Natfi</div>
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,
            purus sit amet luctus venenatis
        </p>
    </div>
    <div class="comments">
        <div class="upper">
            <div class="user_img user_img_5"></div>
            <div class="card_name">Viola Natalie</div>
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,
            purus sit amet luctus venenatis
        </p>
    </div>
    <div class="comments">
        <div class="upper">
            <div class="user_img user_img_6"></div>
            <div class="card_name">Robert John K.   </div>
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,
            purus sit amet luctus venenatis
        </p>
    </div>

  </div>
</section>
