<section class="dp_center travers_point">
  <div class="container">
    <div class="left_travel"></div>
    <!-- *Right_block------------------------------ -->
    <div class="right_travel">
      <span class="tp_header">Travelers Point</span>
      <h2 class="tp_h2">We help to find your dream place</h2>
      <p class="tp_p">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,
        purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor
        rhoncus dolor purus non enim praesent elementum facilisis leo, vel
        fringilla est ullamcorper eget nulla facilisi
      </p>
      <div class="statistic_tp">
        <div class="statistic_tp_top">
          <div class="number_tp">
            <span class="number_item">100+</span><span class="text_item">Holiday Package</span>
          </div>
          <div class="number_tp">
            <span class="number_item">68</span><span class="text_item">Elite Transportation</span>
          </div>
        </div>
        <div class="statistic_tp_bot">
            <div class="number_tp">
                <span class="number_item">172</span><span class="text_item">Hotels</span>
                
            </div>
            <div class="number_tp">
                <span class="number_item">32M+</span><span class="text_item">we help to find your dream place</span>
            </div>
        </div>
      </div>
    </div>
    <!-- *Right_block------------------------------ -->
  </div>
</section>
